[submodule "hello_kernelcare"]
    path = hello_kernelcare
    url = git@github.com:andreymisyurov/hello_kernelcare.git

[submodule "kernelcare_debug_module"]
    path = kernelcare_debug_module
    url = git@github.com:andreymisyurov/kernelcare_debug_module.git

[submodule "kernel_identity_manager"]
    path = kernel_identity_manager
    url = git@github.com:andreymisyurov/kernel_identity_manager.git
